<app-header></app-header>


<div class="container uniapp_section1">
    <div class="row">
        <div class="col-lg-6">
            <div id="uniapp_section1_text1">UniApp</div>
            <div id="uniapp_section1_text2">Komputerinizdə istifadə etmək üçün</div>
            <div id="uniapp_section1_text3">1. Telefonunuzda UniApp-i açın
                    <br>
                2.Ana səhifədə sağ yuxarı küncdə <br> yerləşən QR şəklinin üzərinə klikləyin, <br>

                3.Kodu yazmaq üçün telefonunuzu bu  ekrana yönəldin.
                </div>
        </div>
        <div class="col-lg-6 qr">
            <img src="../../../assets/img/qr.png" alt="">
        </div>
    </div>
</div>
<br>
<br>
    <div class="container">
        <div class="store">
            <div><img class="store_item" src="../../../assets/img/app_store.png" alt=""></div>
            <div><img class="store_item1" src="../../../assets/img/play_store.png" alt=""></div>
        </div>
    </div>
<br>
<br>

    <app-footer></app-footer>