<div class="container blog_container">
    <div class="row">
        <div class="col-lg-6 row">
            <a href=""><div class="col-lg-12">
                <div class="card">
                    <img class="card_img" src="../../../assets/img/blog1.png" alt="">
                    <div class="card-img-overlay" >
                        <h5 class="card-title">
                        <p class="blog_text1">Lorem ipsum dolor sit amet</p>
                           <p class="blog_text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium mattis eget id sem. </p>
                        </h5>

                      </div>
                    </div>
            </div>
        </a>
        <a href=""><div class="col-lg-12 blog2">
            <div class="card">
                <img class="card_img" src="../../../assets/img/blog2.png" alt="">
                <div class="card-img-overlay" >
                    <h5 class="card-title">
                    <p class="blog_text1">Lorem ipsum dolor sit amet</p>
                       <p class="blog_text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium mattis eget id sem. </p>
                    </h5>

                  </div>
                </div>
        </div>
    </a>
        </div>
        <div class="col-lg-6 row">
            <div class="col-lg-6">
                <a href="">
                <div class="card">
                <img class="card_img" src="../../../assets/img/blog3.png" alt="">
                <div class="card-img-overlay" >
                    <h5 class="card-title">
                    <p class="blog_text1">Lorem ipsum dolor sit amet</p>
                       <p class="blog_text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
                    </h5>

                  </div>
                </div>
            </a>
            </div>
            <div class="col-lg-6">
                <a href="">
                <div class="card">
                <img class="card_img" src="../../../assets/img/blog4.png" alt="">
                <div class="card-img-overlay" >
                    <h5 class="card-title">
                    <p class="blog_text1">Lorem ipsum dolor sit amet</p>
                       <p class="blog_text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
                    </h5>

                  </div>
                </div>
            </a>
            </div>
            <div class="col-lg-12 blog5">
                <a href="">
                <div class="card">
                    <img class="card_img" src="../../../assets/img/blog5.png" alt="">
                    <div class="card-img-overlay" >
                        <h5 class="card-title">
                        <p class="blog_text1">Lorem ipsum dolor sit amet</p>
                           <p class="blog_text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium mattis eget id sem. </p>
                        </h5>
    
                      </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<br>
<br>