<div class="container">
<div class="row">
<div class="col-lg-4 services_section1_left">
   <p class="services_section1_left_text1"> Lorem Ipsum dolor sit amet </p>
    <img class="orange_line" src="../../../assets/img/orange_line.png" alt="">
    <p class="services_section1_left_text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium mattis eget id sem</p>
</div>
<div class="col-lg-8 services_section1_right">
    <img src="../../../assets/img/Rectangle 39.png" alt="">
</div>
</div>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-4 services_section2_text">
            <img src="../../../assets/img/math-02 1.png" alt="">
           <div class="services_section2_text">
             <p class="services_section2_text1">Lorem ipsum</p>
            <p class="services_section2_text2">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. </p>
           </div>
        </div>

        <div class="col-lg-4 services_section2_text">
            <img src="../../../assets/img/Vector.png" alt="">
           <div class="services_section2_text">
             <p class="services_section2_text1">Lorem ipsum</p>
            <p class="services_section2_text2">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. </p>
           </div>
        </div>

        <div class="col-lg-4 services_section2_text">
            <img src="../../../assets/img/Group.png" alt="">
           <div class="services_section2_text">
             <p class="services_section2_text1">Lorem ipsum</p>
            <p class="services_section2_text2">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. </p>
           </div>
        </div>

        <div class="col-lg-4 services_section2_text">
            <img src="../../../assets/img/Group (1).png" alt="">
           <div class="services_section2_text">
             <p class="services_section2_text1">Lorem ipsum</p>
            <p class="services_section2_text2">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. </p>
           </div>
        </div>

        <div class="col-lg-4 services_section2_text">
            <img src="../../../assets/img/Vector (1).png" alt="">
           <div class="services_section2_text">
             <p class="services_section2_text1">Lorem ipsum</p>
            <p class="services_section2_text2">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. </p>
           </div>
        </div>

        <div class="col-lg-4 services_section2_text">
            <img src="../../../assets/img/Group 21.png" alt="">
           <div class="services_section2_text">
             <p class="services_section2_text1">Lorem ipsum</p>
            <p class="services_section2_text2">Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit. </p>
           </div>
        </div>
       
    </div>
    
</div>

<br>
<br>
<div class="services_section3">
<div id="white_line"><img  src="../../../assets/img/white_line.png" alt=""></div>
        <br>
        <br>
        <p class="services_section3_text1">Lorem ipsum dolor sit amet</p>
        <p class="services_section3_text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium <br> mattis eget id sem. Maecenas faucibus tincidunt arcu, vel cursus quam. Duis euismod <br> gravida commodo. Phasellus lacinia arcu id arcu laoreet maximus ac in elit. Cras pretium <br>sodales justo, at luctus felis vehicula a. Nullam eget fringilla turpis. Duis tincidunt feugiat <br> ante, ut semper leo molestie nec. <br>
            Vivamus elementum condimentum dui. Nulla ultricies mi eu sapien bibendum, eu consectetur ante sodales.</p>
    </div>
