<app-header></app-header>
<div><img id="about_img" src="../../../assets/img/Rectangle 18.png" alt=""></div>
<br>
<div class="container">
    <div class="row about_section1">
    <div class="col-lg-6 about_section1_left">
        <div><img src="../../../assets/img/Rectangle 16.png" alt=""></div>
        <div><img class="missiyamiz_img" src="../../../assets/img/missiyamiz.png" alt=""></div>
        <div class="about_section1_left_text">
            <p id="missiyamiz_text">Missiyamız</p>
            <p id="missiyamiz_text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium mattis eget id sem. Maecenas faucibus tincidunt arcu, vel cursus quam. Duis euismod gravida commodo. Phasellus lacinia arcu id arcu laoreet maximus ac in elit. Cras pretium sodales justo, at luctus felis vehicula a. Nullam eget fringilla turpis. Duis tincidunt feugiat ante, ut semper leo molestie nec.</p>
        </div>
    </div>
    <div class="col-lg-6 about_section1_right">
        <div><img src="../../../assets/img/Rectangle 16 (1).png" alt=""></div>
        <div><img class="vizyonumuz_img" src="../../../assets/img/vizyonumuz.png" alt=""></div>
        <div class="about_section1_right_text">
            <p id="vizyonumuz_text">Vizyonumuz</p>
            <p id="vizyonumuz_text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium mattis eget id sem. Maecenas faucibus tincidunt arcu, vel cursus quam. Duis euismod gravida commodo. Phasellus lacinia arcu id arcu laoreet maximus ac in elit. Cras pretium sodales justo, at luctus felis vehicula a. Nullam eget fringilla turpis. Duis tincidunt feugiat ante, ut semper leo molestie nec.</p>
        </div>
    </div>
    </div>
</div>

<br>
<br>

<div class="container staff">
    <div id="orange_line"><img  src="../../../assets/img/orange_line.png" alt=""></div>
<p id="pedagogical_text"> Pedaqoji heyət </p>

    <div class="row">
        <div class="col-lg-3 pedagogical_staff">
            <img src="../../../assets/img/Rectangle 19.png" alt="">
            <p class="pedagogical_staff_text1">Lorem Ipsum</p>
            <p class="pedagogical_staff_text2">Speciality title</p>
            <p class="pedagogical_staff_text3">“Lorem ipsum dolor sit amet, mauris consectetur adipiscing elit.”</p>
        </div>
        <div class="col-lg-3 pedagogical_staff">
            <img src="../../../assets/img/Rectangle 20.png" alt="">
            <p class="pedagogical_staff_text1">Lorem Ipsum</p>
            <p class="pedagogical_staff_text2">Speciality title</p>
            <p class="pedagogical_staff_text3">“Lorem ipsum dolor sit amet, mauris consectetur adipiscing elit.”</p>
        </div>
        <div class="col-lg-3 pedagogical_staff">
            <img src="../../../assets/img/Rectangle 21.png" alt="">
            <p class="pedagogical_staff_text1">Lorem Ipsum</p>
            <p class="pedagogical_staff_text2">Speciality title</p>
            <p class="pedagogical_staff_text3">“Lorem ipsum dolor sit amet, mauris consectetur adipiscing elit.”</p>
        </div>
        <div class="col-lg-3 pedagogical_staff">
            <img src="../../../assets/img/Rectangle 22.png" alt="">
            <p class="pedagogical_staff_text1">Lorem Ipsum</p>
            <p class="pedagogical_staff_text2">Speciality title</p>
            <p class="pedagogical_staff_text3">“Lorem ipsum dolor sit amet, mauris consectetur adipiscing elit.”</p>
        </div>
    </div>

    <br>
    <br>

    <div id="orange_line"><img  src="../../../assets/img/orange_line.png" alt=""></div>
<p id="administrative_text">İnzibati heyət</p>

<div class="row">
    <div class="col-lg-3 administrative_staff">
        <img src="../../../assets/img/Rectangle 19 (1).png" alt="">
        <div class="administrative_staff_text">
        <p class="administrative_staff_text1">Lorem Ipsum</p>
        <p class="administrative_staff_text2">Speciality title</p>
        </div>
    </div>
    <div class="col-lg-3 administrative_staff">
        <img src="../../../assets/img/Rectangle 20 (1).png" alt="">
        <div class="administrative_staff_text">
        <p class="administrative_staff_text1">Lorem Ipsum</p>
        <p class="administrative_staff_text2">Speciality title</p>
        </div>
    </div>
    <div class="col-lg-3 administrative_staff">
        <img src="../../../assets/img/Rectangle 21 (1).png" alt="">
        <div class="administrative_staff_text">
        <p class="administrative_staff_text1">Lorem Ipsum</p>
        <p class="administrative_staff_text2">Speciality title</p>
        </div>
    </div>
    <div class="col-lg-3 administrative_staff">
        <img src="../../../assets/img/Rectangle 22 (1).png" alt="">
        <div class="administrative_staff_text">
        <p class="administrative_staff_text1">Lorem Ipsum</p>
        <p class="administrative_staff_text2">Speciality title</p>
        </div>
    </div>
</div>


</div>
<br>
<br>

<app-footer></app-footer>