<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-lg-4 uni-dil_section1_left">
            <img src="../../../assets/img/orange_line.png" alt="">
            <br>
            <p class="uni-dil_section1_left_text1">Platformaya daxil ol</p>
            <form action="">
                <div class="input login_input">
                    <input type="text" 
                    name="username"  
                    class="password_input form-control"
                    placeholder="Login" 
                    [(ngModel)]="username" >
                </div>
                <div class="input">
                    <input type="password" 
                    name="password" 
                    class="password_input form-control"
                    placeholder="Parol" 
                    [(ngModel)]="password">
                </div>

                <div class="input">
                    <input class="login_btn" type="submit" value="Daxil ol">
                </div>

            </form>
        </div>
        <div class="col-lg-8">
            <div class="uni-dil_section1_right card text-white">
            <img class="uni-dil_section1_img" src="../../../assets/img/Rectangle 37.png" alt="">
            <div class="card-img-overlay" >
                <h5 class="card-title">UniDil sənin şəxsi inkişaf üçün ən <br> idela platformadır. 
                    <br>
                    <br>
                    İstifadə üçün Uni tərəfdən verilmiş <br> parol və logini daxil et.</h5>
              </div>
            </div>
<br>
<br>
<br>
        </div>

        <p class="uni-dil-section2_text1">Lorem ipsum dolor sit amet</p>
        <p class="uni-dil-section2_text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed neque vel mi pretium mattis eget id sem. Maecenas faucibus tincidunt arcu, vel cursus quam. Duis euismod gravida commodo. Phasellus lacinia arcu id arcu laoreet maximus ac in elit. Cras pretium sodales justo, at luctus felis vehicula a. Nullam eget fringilla turpis. Duis tincidunt feugiat ante, ut semper leo molestie nec. Vivamus elementum condimentum dui. Nulla ultricies mi eu sapien bibendum, eu consectetur ante sodales. Donec pharetra turpis et dictum condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
</div>
<br>
<br>

<app-footer></app-footer>