<app-header></app-header>

<div><img id="projects_img" src="../../../assets/img/Rectangle 18 (1).png" alt=""></div>
<br>
<div class="container-fluid">
<div id="orange_line"><img  src="../../../assets/img/orange_line.png" alt=""></div>
<p id="projects_header_text">Layihələr</p>

<div class="row projects_all">
    <div class="col-lg-3 projects"><a routerLink="/projects1">
        <img src="../../../assets/img/Rectangle 19 (2).png" alt="">
        <div class="projects_text">
        <p class="projects_text1">Ətraflı məlumat</p>
        <img class="projects_img1" src="../../../assets/img/detail_img.png" alt="">
        </div>
    </a></div> 
    
    <div class="col-lg-3 projects1"><a routerLink="/projects1">
        <img src="../../../assets/img/Rectangle 20 (2).png" alt="">
        <div class="projects_text">
        <p class="projects_text1">Ətraflı məlumat</p>
        <img class="projects_img1" src="../../../assets/img/detail_img.png" alt="">
        </div>
    </a></div>

    <div class="col-lg-3 projects1"><a routerLink="/projects1">
        <img src="../../../assets/img/Rectangle 21 (2).png" alt="">
        <div class="projects_text">
        <p class="projects_text1">Ətraflı məlumat</p>
        <img class="projects_img1" src="../../../assets/img/detail_img.png" alt="">
        </div>
    </a></div>

    <div class="col-lg-3 projects1"><a routerLink="/projects1">
        <img src="../../../assets/img/Rectangle 22 (2).png" alt="">
        <div class="projects_text">
        <p class="projects_text1">Ətraflı məlumat</p>
        <img class="projects_img1" src="../../../assets/img/detail_img.png" alt="">
        </div>
    </a></div>

    

    
</div>

</div>

<br>
<br>

<app-footer></app-footer>
