<footer id="contact_section" class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container-fluid footer_container p-4">
      <div class="footer_section1">
        <br>
        <br>
        <div id="orange_line"><img  src="../../../assets/img/orange_line.png" alt=""></div>
        <br>
        <br>
        <p class="footer_text">Yeniliklərdən xəbərdar olmaqdan üçün</p>

        <div class="input-container">
            <input type="text" class="input">
            <span>Axtarış</span>
        </div>
      </div>
        <br>
        <br>
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6">
          <div><img src="../../../assets/img/uniser_edu_logo.png" alt=""></div>
          <br> 
          <p style="color: white;">
            Ən peşəkar və respublika<br>
             birincilərinin müəllimlərə  
            <br>
            MİQ və Sertifikasiya <br>
            mtahanına tam hazır olun.</p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         <div class="footer_menu">Menu</div>
          <ul class="list-unstyled">
            <li class="footer_menu_item">
                <a class="footer_menu_link" routerLink="/about">Haqqında</a>
            </li>
            <li class="footer_menu_item">
                <a class="footer_menu_link" routerLink="/projects">Layihələr</a>
            </li>
            <li class="footer_menu_item">
                <a class="footer_menu_link" routerLink="/services">Xidmətlərimiz</a>
            </li>
            <li class="footer_menu_item">
                <a class="footer_menu_link">İmtahanlar</a>
            </li>
            <li class="footer_menu_item">
                <a class="footer_menu_link" routerLink="/uni-dil">UniDil</a>
            </li>
            <li class="footer_menu_item">
                <a class="footer_menu_link">UniApp</a>
            </li>
            <li class="footer_menu_item">
                <a class="footer_menu_link">Əlaqə</a>
            </li>
           
          </ul>
        </div>
        <!--Grid column-->
  
        
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="faydali_baglantilar">Faydalı bağlantılar</div>
             <ul class="list-unstyled">
                <li class="footer_menu_item">
                    <a class="footer_menu_link">Tövsiyələr</a>
                </li>
                <li class="footer_menu_item">
                    <a class="footer_menu_link">Tez-tez verilən suallar</a>
                </li>
                <li class="footer_menu_item">
                    <a class="footer_menu_link">İcma</a>
                </li>
                <li class="footer_menu_item">
                    <a class="footer_menu_link">Kampus şəkilləri</a>
                </li>
                <li class="footer_menu_item">
                    <a class="footer_menu_link">Dərslər</a>
                </li>
             </ul>
           </div>
           <!--Grid column-->


 <!--Grid column-->
 <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <div class="contact_info">BİZİMLƏ ƏLAQƏ SAXLAYIN</div>
     <ul class="list-unstyled">
        <li class="contact_class">
            <img id="map_logo" src="../../../assets/img/map_orange.png" alt="">
            <p class="contact_text">Name address 11 str. 26A</p>
        </li>
       <li class="contact_class">
         <img id="phone_logo" src="../../../assets/img/phone_orange.png" alt="">
           <p class="contact_text">+994 00 000 00 00</p>
       </li>
       <li class="contact_class">
         <img id="mail_logo" src="../../../assets/img/mail_orange.png" alt="">
         <p class="contact_text">example@mail.com</p>
       </li>
      
     </ul>
   </div>
   <!--Grid column-->
      

      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->


    <div class="socials_top_group">
        <div class="socials">
        <p class="social_text">Copyright ©2023 All rights reserved</p>
      
        </div>
        <div class="phone">
            <div class="social_logos">
                <a href=""><img class="social_logo whatsapp_logo" src="../../../assets/img/whatsapp (2).png" alt=""></a>
                <a href=""><img class="social_logo" src="../../../assets/img/facebook (1).png" alt=""></a>
                <a href=""><img class="social_logo" src="../../../assets/img/instagram (2).png" alt=""></a>
                <a href=""><img class="social_logo" src="../../../assets/img/telegram (1).png" alt=""></a>
                <a href=""><img class="social_logo" src="../../../assets/img/youtube (2).png" alt=""></a>
                <a href=""><img class="social_logo" src="../../../assets/img/tiktok (2).png" alt=""></a>
                <a href=""><img class="social_logo linkedin_logo" src="../../../assets/img/linkedin (2).png" alt=""></a>
            </div>
        </div>
    </div>
  </footer>