<div class="socials_top_group">
    <div class="socials">
    <p class="social_text">Sosial mediyada bizi izləyin</p>
    <div class="social_logos">
        <a href=""><img class="social_logo whatsapp_logo" src="../../../assets/img/whatsapp.png" alt=""></a>
        <a href=""><img class="social_logo" src="../../../assets/img/facebook.png" alt=""></a>
        <a href="https://www.instagram.com/uniser_education/" target="_blank"><img class="social_logo" src="../../../assets/img/instagram.png" alt=""></a>
        <a href=""><img class="social_logo" src="../../../assets/img/telegram.png" alt=""></a>
        <a href=""><img class="social_logo" src="../../../assets/img/youtube.png" alt=""></a>
        <a href=""><img class="social_logo" src="../../../assets/img/tiktok.png" alt=""></a>
        <a href=""><img class="social_logo" src="../../../assets/img/linkedin.png" alt=""></a>
    </div>
    </div>
    <div class="phone">
        <img class="phone_logo" src="../../../assets/img/phone.png" alt="">
        <p class="phone_text">+994 51 270 07 01</p>
    </div>
</div>


<div id="topheader">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand nav_uniseredu_logo"href="#"><img src="../../../assets/img/uniser_edu_logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse container-fluid" id="navbarTogglerDemo02">

            <ul class="navbar-nav mb-2 mb-lg-0">
              <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/about">Haqqında</a>
              </li>
              <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/projects" >Layihələr</a>
              </li>
              <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/services" >Xidmətlərimiz</a>
              </li>
              <li routerLinkActive="active" class="nav-item">
                <div class="dropdown nav-item">
                    <button class="btn dropdown-toggle imtahanlar_dropdown nav-item nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                     İmtahanlar
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">MİQ/Sertifikasiya</a></li>
                      <li><a class="dropdown-item" href="#">Abituriyent</a></li>
                      <li><a class="dropdown-item" href="#">1-8 sinif</a></li>
                      <li><a class="dropdown-item" href="#">Bilik yarışı</a></li>
                    </ul>
                  </div>                  
              </li>
              <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/uni-dil" >UniDil</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/uni-app" >UniApp</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/blog" >Bloq</a>
              </li>
              <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/news" >Xəbərlər</a>
              </li>
              <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/contact">Əlaqə</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>