<br>

<div class="container">
    <div class="row">
        <a class="col-lg-3 news_item">
            <img src="../../../assets/img/news1.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        <a class="col-lg-3 news_item">
            <img src="../../../assets/img/news2.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        <a class="col-lg-3 news_item">
            <img src="../../../assets/img/news3.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        <a class="col-lg-3 news_item">
            <img src="../../../assets/img/news4.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        <a class="col-lg-3 news_item news_item_row2">
            <img src="../../../assets/img/news5.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        <a class="col-lg-3 news_item news_item_row2">
            <img src="../../../assets/img/news6.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        <a class="col-lg-3 news_item news_item_row2">
            <img src="../../../assets/img/news7.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        <a class="col-lg-3 news_item news_item_row2" >
            <img src="../../../assets/img/news8.png" alt="">
            <p class="news_text1">Lorem Ipsum</p>
            <p class="news_text2">Curabitur sed neque vel mi pretium mattis eget id sem...</p>
            <p class="news_text3">Feb 14, 2023</p>
        </a>
        
    </div>
</div>

<br>
<br>
